@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #1e3145;
  --card: #ffffff;
  --card-foreground: #1e3145;
  --popover: #ffffff;
  --popover-foreground: #1e3145;
  --primary: #000000;
  --primary-foreground: #ffffff;
  --secondary: #f6f6f8;
  --secondary-foreground: #1e3145;
  --muted: #f6f6f8;
  --muted-foreground: #616b7a;
  --accent: #f6f6f8;
  --accent-foreground: #1e3145;
  --destructive: #c31230;
  --border: #a6aab1;
  --input: #a6aab1;
  --ring: #1c5dc5;
  --chart-1: #3982ed;
  --chart-2: #1f68dd;
  --chart-3: #1c5dc5;
  --chart-4: #1950aa;
  --chart-5: #184390;
  --radius: 0.375rem;
  --sidebar: #ffffff;
  --sidebar-foreground: #1e3145;
  --sidebar-primary: #1f68dd;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f6f6f8;
  --sidebar-accent-foreground: #1e3145;
  --sidebar-border: #cfd1d5;
  --sidebar-ring: #1c5dc5;
}

.dark {
  --background: #1e3145;
  --foreground: #ffffff;
  --card: #081f33;
  --card-foreground: #ffffff;
  --popover: #1e3145;
  --popover-foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #000000;
  --secondary: #081f33;
  --secondary-foreground: #ffffff;
  --muted: #081f33;
  --muted-foreground: #cfd1d5;
  --accent: #081f33;
  --accent-foreground: #ffffff;
  --destructive: #ef626d;
  --border: #556070;
  --input: #081f33;
  --ring: #1c5dc5;
  --chart-1: #3982ed;
  --chart-2: #1f68dd;
  --chart-3: #1c5dc5;
  --chart-4: #1950aa;
  --chart-5: #184390;
  --sidebar: #1e3145;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #71adfc;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #081f33;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #081f33;
  --sidebar-ring: #1c5dc5;
}

@theme inline {
  --font-sans: "Inter Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
